{%extends 'all-jirani/base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if neighbourhood%}
      <h2>Found {{ neighbourhood|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 neighbourhood for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if neighbourhood %}
    {% for neighbourhood in neighbourhood %}
      <div class="col-sm-6 col-md-3">
          <h1>{{neighbourhood.title}}</h1>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
